*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bib
*.run.xml
*.bcf
*.xtr

CW/
pp/
parts/
matlab/
Oxford/
papers/
raw_files/
Week1/
Week2/
Week3/
Week4/

header.tex
lstlean.tex
notes.tex
problems.tex
n.tex
special_topic_template.tex
